<footer class="page-footer text-center font-small mt-4 wow fadeIn" style="background-color: black; color: gold;">

  <hr class="my-4" style="border-color: gold;">

  <!-- Social icons -->
  <div class="pb-4">
    <a href="https://www.facebook.com/Ecommerce" target="_blank" style="color: gold;">
      <i class="fab fa-facebook-f mr-3"></i>
    </a>

    <a href="https://twitter.com/Ecommerce" target="_blank" style="color: gold;">
      <i class="fab fa-twitter mr-3"></i>
    </a>

    <a href="https://www.youtube.com/" target="_blank" style="color: gold;">
      <i class="fab fa-youtube mr-3"></i>
    </a>

    <a href="https://plus.google.com/" target="_blank" style="color: gold;">
      <i class="fab fa-google-plus-g mr-3"></i>
    </a>

    <a href="https://dribbble.com/Ecommerce" target="_blank" style="color: gold;">
      <i class="fab fa-dribbble mr-3"></i>
    </a>

    <a href="https://pinterest.com/Ecommerce" target="_blank" style="color: gold;">
      <i class="fab fa-pinterest mr-3"></i>
    </a>

    <a href="https://github.com/Ecommerce" target="_blank" style="color: gold;">
      <i class="fab fa-github mr-3"></i>
    </a>

    <a href="http://codepen.io/Ecommerce/" target="_blank" style="color: gold;">
      <i class="fab fa-codepen mr-3"></i>
    </a>
  </div>
  <!-- Social icons -->

  <!--Copyright-->
  <div class="footer-copyright py-3">
    © 2025 Copyright:
    <a href="https://Ecommerce.com/education/Ecommerce/" target="_blank" style="color: gold;"> Ecommerce.com </a>
  </div>
  <!--/.Copyright-->

</footer>
