{% load cart_template_tags %}

<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark shadow-sm">
    <div class="container">

        <!-- Brand -->
        <a class="navbar-brand fw-bold" href="/">
            <strong class="text-warning">E-commerce</strong>
        </a>

        <!-- Collapse Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navigation Links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <!-- Left Links -->
            <ul class="navbar-nav me-auto">
                <!-- Uncomment if you want additional links -->
                <!-- <li class="nav-item">
                    <a class="nav-link text-light" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="/checkout">Checkout</a>
                </li> -->
            </ul>

            <!-- Right Links -->
            <ul class="navbar-nav nav-flex-icons">
                {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a href="{% url 'core:order-summary' %}" class="nav-link">
                        <span class="badge bg-danger rounded-pill me-1"> {{ request.user|cart_item_count }} </span>
                        <i class="fas fa-shopping-cart text-light"></i>
                        <span class="d-none d-sm-inline text-light"> Cart </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="{% url 'account_logout' %}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link text-light" href="{% url 'account_login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="{% url 'account_signup' %}">Signup</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
